<header class="app-header" role="navigation">
  <div class="content">
    <div class="app-header-brand">
      {{#link-to 'rants'}}Rantly{{/link-to}}
    </div>
    <nav>
      {{#link-to 'rants'}}Rants{{/link-to}}
      {{#link-to 'users'}}Users{{/link-to}}
      {{#link-to 'signup'}}Sign Up{{/link-to}}
    </nav>
  </div>
</header>

<body>
  <aside>
    <div class="rant-search">
      {{input type=search value=params class="rant-search-field" placeholder="Search"}}
    </div>

    {{#if session.isAuthenticated}}
      <form class='login-form'>
        <div style="background-image: url(http://www.gravatar.com/avatar/undefined?s=200)" class="author-photo"></div>
        <div class="form-group">
          <button type='submit' {{ action 'invalidateSession' }}>Logout</a>
        </div>
      </form>
    {{else}}
      <form class='login-form' {{action 'authenticate' on='submit'}}>
        <div class='form-group'>
          {{input value=identification placeholder='Your email'}}
        </div>
        <div class="form-group">
          {{input value=password placeholder='Your password' type='password'}}
        </div>
        <div class="form-group">
          <button type="submit" {{action 'authenticate' on='submit'}}>Login</button>
        </div>
      </form>
    {{/if}}
  </aside>

  <main>
    <header class="app-inner-header">
      <button {{action 'newRant' this}} class="button button-invert new-rant">New Rant</button>
    </header>

    {{outlet}}
  </main>

  <footer></footer>
</body>
