<div class="signup-form-group">
  {{validated-input placeholder='First Name' value=username type='text' errors=errors.username}}
  {{validated-input placeholder='Last Name' value=name type='text' errors=errors.name}}
  {{validated-input placeholder='Email' value=email type='text' errors=errors.email}}
  {{validated-input placeholder='Password' value=password type='password' icon=true errors=errors.password}}

  <button class="button button-primary button-lg button-block"{{action 'signUp'}}>Sign Up</button>
</div>
