<div class="signup-form-group">
  {{validated-input placeholder='First Name' value=firstname type='text' errors=errors.firstname}}
  {{validated-input placeholder='Last Name' value=lastname type='text' errors=errors.lastname}}
  {{validated-input placeholder='Email' value=email type='text' errors=errors.email}}
  {{validated-input placeholder='Password' value=password type='password' icon=true errors=errors.password}}

  <button class="button button-primary button-lg button-block"{{action 'signUp'}}>Sign Up</button>
</div>
